.popup__close {
  position: absolute;
  align-self: flex-end;
  top: -40px;
  right: -40px;
  transition: 0.5s;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 767px)   {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0;
  }
}
