.input__text {
  margin: 20px auto 0 auto;
  width: 84%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 13px 0;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input__text:focus {
  outline: 0;
  box-shadow: 0 0 10px 5px #1E90FF;
}

.input__text:first-of-type {
  margin: 47px auto 0 auto;
}

