.input__text {
  margin: 0;
  padding: 0;
  width: 358px;
  box-sizing: border-box;
  padding: 13px;
  border: 0;
  border-bottom: 1px solid #000000;
  transition: .1s border;
}

.input__text:hover {

}

.input__text:active {
  border: 1px solid #00BFFF;
}
