.input__text {
  margin: 0;
  padding: 13px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input__text:focus {
  outline: 0;
  box-shadow: 0 0 10px 5px #1E90FF;
}
